{% extends "base.twig" %}
{% block content %}
    <h3 class="mx-2">Create new card</h3>
    <form id="trelloQuickActionCreateCardForm" class="m-4"
          action="/trello/quick-action/card/add/{{ member }}{{ token and key ? "?token="~token~"&key="~key : ""}}"
          method="post">
        <div class="mb-3">
            <label for="trello-board-select">Board Name</label>
            <select id="trello-board-select" name="board" class="form-select" aria-label="Select a board"
                    onchange="renderBoardLists(this.value, {{ boards | json_encode()}})">
                <option selected>Select a board</option>
                {% for organization in organizations %}
                    {%if (boards | filter(board => board.organization.id == organization.id)) | length > 0 %}
                        <optgroup label="{{organization.displayName}}">
                            {% for board in boards | filter(board => board.organization.id == organization.id) %}
                                <option value="{{ board.id }}">{{ board.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div id="trello-list-container" class="mb-3 invisible d-none">
            <label for="trello-list-select">List</label>
            <select id="trello-list-select" name="list" class="form-select"
                    aria-label="Select a list" onchange="listSelectionChange()"></select>
        </div>

        <div id="trello-card-title-container" class="mb-3 invisible d-none">
            <div class="row mb-2">
                <div class="col-12">
                    <label for="trello-card-title">Card Name</label>
                    <input id="trello-card-title" name="title" type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create Card</button>
                </div>
            </div>
        </div>


        {{ "trelloQuickActionCreateCardForm" | formToken | raw }}
    </form>
{% endblock %}